
/*#app, #about, #careers, #contact, #early, #education, #photo, #resume {*/
/*    display: none;*/
/*}*/
main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 500px;
    min-width: 600px;
}

.col{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0 10px;
}

.row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

aside {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

article{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

table{
    padding-left: 40px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    overflow: auto;
}

table th {
    padding: 5px;
}

table tr{
    border: 1px solid #E5FCF5;
}

table td a:link, a:visited {
    text-decoration: underline;
    color: #B3DEC1;
}

table tr li {
    text-indent: 5px;
}

p {
    font-size: 24px;
    width: 600px;
    padding: 10px;
}

q{
    font-size: 36px;
}

article h2{
    text-indent: 25px;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
    text-align: left;
}

figure{
    display: flex;
    flex-flow: column wrap;
    justify-items: flex-start;
}

strong{
    font-size: 24px;
}

.contactform{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.contactform h2 {
    font-size: 32px;
}

.contactform label {
    font-size: 24px;
}

.btn {
    padding: 10px;
    background-color: #210124;
    color: #E5FCF5;
    border-radius: 15px;
}

input, textarea{
    display: block;
    width: 100%;
    font-size: 18px;
    background-color: #210124;
    color: #E5FCF5;
    font-family: "Times New Roman", Helvetica, sans-serif;
}
input.invalid, textarea.invalid{
    border: 4px solid red;
    border-radius: 10px;
}

input.valid, textarea.valid{
    border: 4px solid green;
    border-radius: 10px;
}

.error{
    display: none;
    margin-left: 10px;
}

.error_show{
    color: #E5FCF5;
    font-size: 18px;
    margin-left: 10px;
}
span{
    display: block;
}
details{
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    justify-content: center;
    min-width: 900px;
    font-family: "Times New Roman", Helvetica, sans-serif;
}

details summary{
    font-size: 36px;
    padding: 0;
    margin: 5px;
}

details p, ul{
    font-size: 18px;
    color: #E5FCF5;
    padding: 0;
    margin-left: 30px;
    margin-top: 0;
    margin-right: 0;
}

details ul{
    padding-left: 65px;
}
details span{
    display: inline-flex;
    float: right;
}

.subheading{
    font-size: 24px;
    padding-left: 25px;
}

.subSubheading{
    font-size: medium;
    padding-left: 45px;
}

.link:link, .link:visited{
    color: #E5FCF5;
}

footer{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.printnotice {
    display: none;
}

noscript{
    color: white;
    font-size: 36px;
    display: block;
    text-align: center;
}


@media screen and (max-width: 768px) {
    img{
        width: 70%;
        height: 70%;
    }

    *{
        font-size: 70%;
    }
}